.css-6hp17o-MuiList-root-MuiMenu-list {
  width: 300px;
}

.avatar-area {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 150px;

  background-color: aqua;
}

.nickname-input {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 80px;
}

.menu-item-area {
  display: flex;
  flex-direction: column;

  justify-content: space-around;
  align-items: center;

  width: 100%;
  height: 300px;

  background-color: aquamarine;
}
